<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheckDigits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>374108FB1E3FB0C600C05703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3741090F1E3FB0C600C05703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3741091A1E3FB0C600C05703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
